
/* #2 */
body {
    font-family: 'Orbitron', sans-serif;
}

/* #3 */
span {
    font-weight: bold;
}

/* #4 */
h1 {
    font-size: 50px;
}

/* #5 */
h1 {
    letter-spacing: 10px;
}

/* #6 */
h1 {
    text-align: center;
}

/* #7 */
h1 {
    text-transform: capitalize;
}

/* #8 */
h1 {
    text-decoration: underline;
}

/* #9 */
#series-movies {
    font-size: 20px;
}

/* #10 */
h2 {
    font-size: 2.5em;
}

/* #11 */
li {
    letter-spacing: 2px;
}

/* #12 */
#characters {
    font-size: 18px;
}

/* #13 */
h4 {
    letter-spacing: 15px;
    /* BONUS */
    /* #2 */
    font-family: 'Press Start 2P', cursive;
}

/* BONUS */
/* #3 */
h2, h3, h4 {
    text-align: center;
}

/* #4 */
li {
    font-size: 1rem;
}

/* #5 */
body {
    background: url("starTrek.jpg");
    /* #6 */
    color: rgba(255,255,255,0.6);
    /* #7 */
    background-size: cover;
    background-repeat: no-repeat;
    
}